<h2>Edit prescription for <%= @prescription.patient.display_name %></h2>

<% if @prescription.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@prescription.errors.count, "error") %>
      prohibited this prescription from being saved:
    </p>

    <ul>
    <% @prescription.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @prescription do |f| %>

  <%= f.label :medication_id %>
  <%= f.collection_select(:medication_id, Medication.all_alpha, :id, :name, {}, {style: "text-transform: capitalize;"}) %><br>

  <%= f.label :dose %>
  <%= f.text_field :dose %><br>

  <%= f.label :frequency %>
  <%= f.text_field :frequency %><br>

  <%= f.submit "update prescription" %>
<% end %>
<br>
<%= button_to 'delete prescription',
  @prescription,
  method: "delete",
  data: {confirm: "Are you sure you want to delete this prescription of #{@prescription.medication.name} for #{@prescription.patient.display_name}? \nThis action cannot be undone."}
%>