<h2>Edit provider</h2>

<%= render partial: 'shared/form_errors', locals: { model: @user } %>

<%= form_for @user do |f| %>
  <% if @user.username.present? %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "blank if no change" %><br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "blank if no change" %><br>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :post_nominals %>
  <%= f.text_field :post_nominals %><br>
  <%= f.submit "update user" %>
<% end %>