<h2>Create new provider</h2>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this provider from being saved:
    </p>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :post_nominals %>
  <%= f.text_field :post_nominals %><br>
  <%= f.submit "create user" %>
<% end %>