<h2>Add New Medication</h2>

<%= render partial: 'shared/form_errors', locals: { model: @medication } %>

<%= form_for @medication do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :trade_names, 'Trade name(s)'%>
  <%= f.text_field :trade_names %><br>
  <%= f.submit "Add Medication"%>
<% end %>