<h3>All <%= @user ? @user.display_name : 'System' %> Patients</h3>

<% unless @patients.empty? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Provider</th>
    </tr>

    <% @patients.each do |p| %>
      <tr>
        <td><%= link_to p.display_name, patient_path(p) %></td>
        <td><%= p.age %></td>
        <td><%= link_to p.user.display_name, user_path(p.user) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to 'add new patient', new_user_patient_path(current_user), class: 'edit_link' %>