<h2>Add new patient for <%= current_user.display_name %></h2>

<% if @patient.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@patient.errors.count, "error") %>
      prohibited this patient from being saved:
    </p>

    <ul>
    <% @patient.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @patient do |f| %>

  <%= f.hidden_field :user_id %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :birthdate %>
  <%= f.text_field :birthdate, placeholder: "YYYY-MM-DD" %><br>

  <%= f.submit "add patient" %>
<% end %>