<h3>Patient Information <%= (link_to 'edit', edit_user_patient_path(@patient.user, @patient), class: "edit_link") if @patient.user == current_user %></h3>

<p>Name: <%= @patient.display_name %> <br>
Age: <%= @patient.age %><br>
Provider: <%= @patient.user.display_name %></p>
<h3>Patient Prescriptions</h3>

<% unless @patient.prescriptions.empty? %>
  <table>
    <tr>
      <th>Medication</th>
      <th>Dose</th>
      <th>Frequency</th>
      <th></th>
    </tr>

    <% @patient.prescriptions.each do |p| %>
      <tr>
        <td><%= p.medication.name.capitalize %></td>
        <td><%= p.dose %></td>
        <td><%= p.frequency %></td>
        <td><%= (link_to 'edit', edit_patient_prescription_path(@patient, p), class: "edit_link") if my_patient?(@patient) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= (link_to 'add new prescription', new_patient_prescription_path(@patient), class: "edit_link") if @patient.user == current_user %>

<% unless @interactions.empty? %>
  <h3 class="interactions">Potential Interactions</h3>
  <ul>
    <% @interactions.each do |i| %>
      <li><%= i.medication_1.name.capitalize %> and <%= i.medication_2.name %>: <%= i.description %></li>
    <% end %>
  </ul>
<% end %>

