<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolioProjectInteractions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <header>
        <h1 class="masthead"><%= link_to 'Interactions', root_path %></h1>
        <h5 class="masthead">tracking your patients and their prescriptions</h5>
        <nav>
          <% if logged_in? %>
            <%= link_to 'Providers', users_path, class: 'button' %>
            <%= link_to 'Patients', patients_path, class: 'button' %>
            <%= link_to 'My Patients', user_patients_path(current_user), class: 'button' %>
          <% end %>
        </nav>
      </header>
      <%= yield %>
    </div>
    <footer>
      <% if logged_in? %>
        <p>
        <%#= link_to 'All Patients', patients_path, class: 'button' %>
        <%#= link_to 'My Patients', user_patients_path(current_user), class: 'button' %>
        <%= link_to 'My Profile', user_path(current_user), class: 'button' %>
        <%= link_to 'Log Out', logout_path, class: 'button' %>
        </p>
      <% end %>
    </footer>
  </body>
</html>

<% console %>
