<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolioProjectInteractions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="masthead">Interactions</h1>
    <h5 class="masthead">tracking your patients and their medications</h5>
    <%= yield %>
  </body>
</html>

<% console %>
